<div class="d-flex flex-column justify-content-between">
    <ul class="list-group overflow-auto overflow-auto list-height">
        <ng-container *ngFor="let task of tasks; let last = last">
            <li class="list-group-item p-0 border-0">
                <div class="d-flex w-100 px-2 bg-light border">
                    <input type="checkbox" class="my-auto larger-checkbox cursor-pointer" [(ngModel)]="task.isCompleted" (change)="markAsComplete(task)"> 
                    <div class="text-decoration-line-through w-100 py-3 mx-2" [ngClass]="{'border-bottom border-secondary': !last}">{{task.text}}</div>
                    <button class="btn"(click)="deleteTask(task.id)">
                        <i class="far fa-times-circle text-danger m-auto cursor-pointer"></i>
                    </button>
                </div>
            </li>
        </ng-container>
    </ul>
</div>